<h1>Inventory Login</h1>

<form method="post">
    <input name="username" placeholder="Enter Username">
    <br>
    <br>
    <input name="password" placeholder="Enter Password" type="password">
    <br>
    <br>
    <input name="login" value="Log In" type="submit">
    <br>
    <br>
    <input name="register" value="Register" type="submit">
</form>