*,:active{
  outline: none;
}
*{
  padding: 3px;
}

body{
  margin: 20px;
  padding-left: 50px;
  padding-top: 20px;
  background-color: #8eb599;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 96.5%;
  font-family: monospace;
}

input{
  font-family: monospace;
}

ul{
  font-family: monospace;
  color: black;
}

h1, h2, h3, h4, h5, p{
  margin-bottom: 10px;
  font-family: monospace;
}

p{
  line-height: 20px;
  font-family: monospace;
}
p1{
  font-size: 180%;
  text-decoration: underline;
  font-family: monospace;
}

button{
  font-family: monospace;
  font-size: 100%;
}
